.blog-card-main{
    margin: 50px 150px 50px 150px;
    background-color: white;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    border: 1px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    text-align: center;
}
.blog-bg{
    background: url("./night.jpg");
    padding-top: 40px;
    padding-bottom: 20px;
}

.h2-title{
    text-align: center;
    color: white;
    font-family: "Barlow", sans-serif;
    letter-spacing: 3px;
    font-size: 30px;
}
.card-title{
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    font-weight: bold;
}
.card-content{
    font-size: 14px;
    font-family: 'Jost', sans-serif;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: justify;
    padding-right: 30px;
    
}

@media(max-width: 800px){
    .blog-card-main{
        margin: 20px 60px 20px 60px;
        flex-wrap: wrap;
        padding-top: 20px;
    }
    .card-content{
        line-height: 20px;
        padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    }
    .h2-title{
        font-size: 20px;
    }
}